<footer class="mt-auto bg-dark py-4">
    <div class="row">
        <div class="col-3 offset-1">
            <h3 class="text-white">UselessThings</h3>
        </div>
        <div class="col-3">
            <ul class="list-unstyled">
                <li class="text-white"><strong>Контакты:</strong></li>
                <li class="text-white">Адрес: улица Пушкина, дом Колотушкина</li>
                <li class="text-white">Телефон: 8-800-000001</li>
            </ul>
        </div>
        <div class="col-3 offset-1">
            <ul class="list-unstyled">
                <li class="text-white"><strong>Навигация:</strong></li>
                <li><a class="text-decoration-none text-white" href="{% url 'home' %}">Домой</a></li>
                <li><a class="text-decoration-none text-white" href="{% url 'favourites' %}">Избранное</a></li>
            </ul>
        </div>
    </div>
</footer>
