<nav class="navbar navbar-expand-xl bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">UselessThings</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Домой</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Категории
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'home' %}">Все продукты</a></li>
                {% for category in links %}
                    <li><a class="dropdown-item" href="{{ category.get_url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'favourites' %}" class="nav-link">Избранное</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                <p class="nav-link active mb-0">Ваша корзина:</p>
                <a href="{% url 'cart_detail' %}" class="nav-link p-0">
                    {{ total_items }} предмет{{ total_items|pluralize:",а" }},
                    {{ cart.get_total_price }}&#x20bd
                </a>
            {% else %}
              <p class="nav-link active mb-0">Ваша корзина пуста</p>
            {% endif %}
        {% endwith %}
          </li>
        </ul>
        {% if user.is_authenticated %}
          <p class="nav-link active mb-0"><a class="link-dark fs-4" href="{% url 'personal_account' user.username %}">{{ user.username }}</a></p>
          <a class="btn btn-dark nav-link p-1 ms-2" href="{% url 'logout' %}"><em class="text-light">Выход</em></a>
        {% else %}
          <a class="btn btn-dark nav-link p-1 ms-2" href="{% url 'login' %}"><em class="text-light">Войти</em></a>

        {% endif %}
        <form class="d-flex ms-2" role="search" method="GET" action="{% url 'home' %}">
          <input name="search-product" class="form-control me-2" type="search" placeholder="Что ищем..." aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Поиск</button>
        </form>
      </div>
    </div>
  </nav>