{% extends 'shop/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center display-4 mb-3">Смена пароля</h3>
        </div>
    {% if validlink %}
        <div class="col-12">
            <p class="text-center"><strong>Пожалуйста, введите новый пароль дважды</strong></p>
        </div>
        <div class="col-6 offset-3">
            {{ error }}
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-dark mb-5">Отправить</button>
                </div>
            </form>
        </div>
    {% else %}
    <div class="col-12">
        <p class="text-center"><strong>Ссылка для сброса пароля недействительна, возможно, потому что она была уже использована. Запросите смену пароля заново.</strong></p>
    </div>
    {% endif %}
    </div>

</div>
{% endblock %}