{% extends 'shop/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center display-4 mb-3">Забыли свой пароль?</h3>
            <p class="text-center"><strong>Введите свой адрес электронной почты, чтобы получить новый пароль</strong></p>
        </div>
        <div class="col-lg-6 offset-lg-3 col-12">
            {{ error }}
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-dark mb-5">Отправить</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}