{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="display-3">Смена пароля</h2>
            <p class="fs-4 mb-0">Было отправлено электронное письмо на вашу почту с инструкциями по смене пароля.</p>
            <p class="fs-4">Если вы не получили письмо, убедитесь, что ввели коректный адрес вашей электронной почты.</p>
            <a href="{% url 'home' %}" class="btn btn-dark px-5">Домой</a>
        </div>
    </div>
</div>
{% endblock %}